.content {
    width: 100%;
    // margin-top: 350px;
    background-color: white;


    .img {
        margin: auto;
        margin-top: 20px;
        display: flex;
    }
}

.cards {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    margin-left: 320px;
    // margin-top: -50px;

    .ant-card {
        margin: 10px;
    }

    .card-img {
        width: 180px;
        height: 250px;
    }
}

.ant-list-items {
    .ant-list-item {
        height: 150px;
    }
}

.ant-card-body{
    .ant-card-meta-detail {
            margin-top: -45px;
        }
}

.progress {
    // margin-top: -50px;
    height: 20px;
    width: 20px;

}

.innerSider {
    width: 300px;
    margin-top: 30px;
}

.İnnerSiderArabutton {
    width: 300px;
    height: 50px;
    margin-top: 30px;
    background-color: rgba(202, 200, 200, 0.5);
    color: grey;
}

.content {
    .button {
        .ant-btn {
            width: 990px;
            height: 70px;
            margin-top: 30px;
            margin-left: 320px;
            background-color: black;
            color: white;
            font-weight: bold;
            font-size: 24px;
        }
    }
}

.content {

    .ant-card-body {
        margin-top: 35px;
    }
}
.detailsPage{
    width: 100%;
    height: 500px;
    background-color: white;
}
.detailbaslik{
    text-align: center;
    font-size: 24px;
    padding: 20px;
}
.detailsButton{
    width: 80px;
    height: 40px;
    font-size: 12px;
    padding-left: 5px;
}
.rate{
    width: 150px;
    height: 30px;
    margin-left: 750px;
}